html {
  position: relative;
  min-height: 100%;
}

h1, h2, h3, h4 {
    font-family: 'Roboto', sans-serif;
}

body {
    font-family: 'Roboto', sans-serif;
    padding-bottom: 50px;
    margin-bottom: 50px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 50px;
    background-color: #323a45;
}
.footer p {
    padding-top: 15px;
}

.content {
    margin-top: 30px;
    margin-left: 130px;
    color: #000;
    text-align: justify;
    font-size: 15px;
}
.content h1 {
    padding: 0;
    color: #323a45;
}
.content h2 {
    padding: 10px;
    padding-top: 20px;
    color: #323a45; 
}
.content h3 {
    color: #323a45; 
}
.content h3 {
    color: #323a45; 
}
@media screen and (max-width: 768px) {
    .content {
        margin-left: 10px;
    }
}

/** helper text **/
.text-white {
    color: #fff;
}
.text-grey {
    color: #818181;
}
.text-normal {
    padding: 10px;
    font-size: 15px;
}
.text-small {
    padding: 5px;
    font-size: 12px;
}
@media screen and (max-width: 768px) {
    .text-normal {
        padding: 8px;
    }   
    .text-small {
        padding: 5px;
    }
}

.section {
    padding-top: 50px;
    margin-top: -50px;
}

.fluid-div {
    padding-left: 70px;
    margin-top: 30px; /**js**/
    position: absolute;
}
/**bentrok**/
.fluid-div .nav li {
    /*bentroknya*/
    padding:0;
    margin:0;
}
/**bentrok**/
.fluid-div .nav li a {
    font-size: 13px;
    /*bentroknya*/
    background-color: transparent;
}
.fluid-div li {
    list-style-type: none;
    padding: 5px;
}
.fluid-div li a span{
    color: #e4a301;
    visibility: hidden;
}
.fluid-div li.active a span {
    visibility: visible;
}
@media screen and (max-width: 768px) {
    .fluid-div {
        display: none;
    }
}

.header {
    color: #fff;
    background-color: #333;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: normal;
    min-height: 125px;
    max-height: 125px;
}
.header h1, .header h2 .header img {
    padding: 0;
    margin: 0;
}
.header h1 {
    font-size: 25pt;
    margin-left: 165px;
    margin-top: 20px;
    position: absolute;
}
.header h2 {
    font-size: 20pt;
    margin-left: 165px;
    margin-top: 68px;
    position: absolute;
}
.header img {
    margin-left: 40px;
    margin-top: 35px;
    position: absolute;
    visibility: show;
}
@media screen and (max-width: 768px) {
    .header h1 {
        margin-left: 50px;
        margin-top: 30px;
        font-size: 20pt;
    }
    .header h2 {
        margin-left: 50px;
        margin-top: 80px;
        font-size: 15pt;
    }
    .header {
        min-height: 120px;
        max-height: 120px;
    }
    .header img {
        visibility: hidden;
    }
}

/** bentuk dan model tulisan **/
.navbar {
    margin-bottom: 0;
    background-color: #323a45;
    z-index: 9999;
    border: 0;
    font-size: 13px !important;
    font-weight: bold;
    line-height: 1.42857143 !important;
    letter-spacing: 2px;
    border-radius: 0;
    font-family: 'Roboto', sans-serif;
    padding: 0px 125px;
}
@media screen and (max-width: 768px) {
    .navbar {
        padding: 0px 30px;
    }
}
/** warna tulisan **/
.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
    cursor: pointer; /** yang di dropdown juga poiner **/
    padding-right: 15px;
    padding-left: 15px;
}
/** navbar dropdown yang di click (habis di click) **/
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: #323a45;
}
/** option kalo hover **/
.navbar-nav li a:hover {
    color: #fff !important;
    background-color: #d09007 !important;
}
/** option kalo active **/
.navbar-nav li.active a {
    color: #fff !important;
    background-color: #e4a301 !important;
}
/** dropdown supaya nempel **/
.navbar-nav .dropdown-menu {
    background-color: #323a45 !important;
    border: none;
    padding: 5px;
    margin-top: -6px;
    margin-bottom: 4px;
}
/** navbar dropdown kalo yang active yang ada disitu (BIKINAN SENDIRI) **/
.navbar-nav li a.dropdown-item:hover, .navbar-nav li.active a.dropdown-item {
    color: #fff !important;
    background-color: #d09007 !important;
}
/** navbar kalo kecil = (burger) **/
.navbar-default .navbar-toggle {
    background-color: transparent;
    border-color: transparent !important;
    color: #fff !important;
}
/** navbar kalo kecil = (luarnya burger) **/
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
/** navbar kalo kecil = (luarnya burger) hover **/
.navbar-default .navbar-toggle:hover {
    background-color: #fff;
}
/** navbar kalo kecil = (burger) kalo di hover **/
.navbar-default .navbar-toggle:hover .icon-bar {
    background-color: #323a45;
}
/** navbar kalo kecil = (luarnya burger) kalo dipencet **/
.navbar-default .navbar-toggle:focus{
    background-color: transparent;
}
/** navbar kalo kecil = (luarnya burger) kalo dipencet trus dihover masih kebuka **/
.navbar-default .navbar-toggle:focus:hover .icon-bar{
    background-color: #818181;
}
/** Search **/
.navbar-right li input {
    margin-right: 10px;
    margin-top: 0px;
    border-radius: 0px;
    font-family: sans-serif;
    font-style: italic;
    font-weight: lighter;
    color: white;
    border: none;
    background-color: #696969;
    min-width: 0;
    width: auto;
    height: 49px;
    display: inline;
}
/** button **/
.navbar-right li button {
    margin-top: 0px;
    margin-left: -15px;
    width: 50px;
    height: 49px;
    background-color: #e4a301;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
}
/** kalo pake afix **/
.affix {
    position: fixed;
    top : 0;
    width: 100%;
}
/** kalo pake afix harus dikasih nav-wrapper biar gak loncat **/
.nav-wrapper {
    min-height: 50px;
}

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}
